{{> partials/header.hbs}}

<header class="jumbotron menu" style="background-image:url({{restaurant.image}}); background-size: cover;">
    <h1 class="display-4">{{restaurant.name}}</h1>
</header>

<div class="container">
<div class="row d-flex flex-wrap" id="menu_item">
    {{#each restaurant.menu}}
        <div class="col-md-3 col-sm-6">
            <div class="card" id={{this.id}} >
                <img class="card-img-top embed-responsive-item" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <div class="card-title food-details"><h5 class="float-left food-name">{{this.name}}</h5>
                        <p class="text-right">$ <span class="food-price">{{this.price}}</span></p></div>
                    <!--                        <a href="/add-to-cart/{{ this.id }}" class="btn btn-success pull-right" role="button">Add</a>-->
                    <!--                        <div class="row d-flex col-qty justify-content-md-center btn btn-success btn-sm add-item">-->
                    <!--                            Add to Cart-->
                    {{#if username}}
                        <div class="row d-flex col-qty justify-content-md-center">
                            <a href="#" class="qty qty-minus"><i class="fas fa-minus-circle"></i></a>
                            <input type="numeric" value="0"/>
                            <a href="#" class="qty qty-plus"><i class="fas fa-plus-circle"></i></a></div>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>

<!-- if user logged in, show shopping cart button in nav bar-->
{{#if username}}
    <nav class="navbar navbar-expand-md navbar-light fixed-bottom" style="background-color: #e3f2fd;" id="checkout_bar">

    </nav>
{{/if}}


<script type="text/javascript">
    // js for quantity plus and minus button
    let restaurant = document.getElementsByTagName("H1")[0].innerText;
    const list = document.querySelector('.cart-list');

    $('a.qty-minus').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var name = $this.closest('.card').find('h5').text()
        var price = $this.closest('.card').find('.food-price').text()
        var value = parseInt($input.val());
        console.log(price);
        if (value > 1) {
            value = value - 1;
        } else {
            value = 0;
        }
        $input.val(value);

        $.ajax({
            type: "put",
            url: "/subtract",
            data: {"name": name, "price": price, "quantity": value, "restaurant": restaurant},
            success: function (response) {
                //send cart html string back as response
                console.log(response);
                updateCart(response);
                $(".modal-body").load(location.href + " .modal-body");
            },
            error: function (error) {
                console.log("error called! " + JSON.stringify(error));
            }
        });
    });
    $('a.qty-plus').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var name = $this.closest('.card').find('h5').text();
        var price = $this.closest('.card').find('.food-price').text();
        var value = parseInt($input.val());
        if (value < 100) {
            value = value + 1;
        } else {
            value = 100;
        }
        $input.val(value);

        //update cart in backend
        $.ajax({
            type: "post",
            url: "/add",
            data: {"name": name, "price": price, "quantity": value, "restaurant": restaurant},
            success: function (response) {
                //send cart html string back as response
                console.log(response);
                updateCart(response);
                $(".modal-body").load(location.href + " .modal-body");
            },
            error: function (error) {
                console.log("error called! " + JSON.stringify(error));
            }
        });
    });

    function updateCart(cart) {
        list.innerHTML = "";
        for (let i = 0; i < cart.length; i++) {
            let text = cart[i].name + " " +"<span>  "+cart[i].price+"</span>" +"<span> "+cart[i].quantity+"</span>" ;
            let listItem = document.createElement("LI");
            listItem.innerHTML = text;
            list.appendChild(listItem);
            listItem.style.textAlign = 'left';
        }
    }


</script>

{{> partials/footer.hbs}}